<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <!-- 思源黑体 -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900">
  <title>拾柒的博客后台</title>
</head>

<body>
  <div id="root"></div>
  <!-- <div id="canvas_snow"></div> -->
  <!-- <script src="./resources/js/jquery.min.js"></script> -->
  <!-- <script src="./resources/js/yinhua.js"></script> -->
</body>

</html>